[defaults]
# Copy inventory/hosts.example.yml to inventory/hosts.yml and edit for your hosts.
inventory = inventory/hosts.yml
roles_path = roles
private_key_file = /root/.ssh/id_rsa
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_legacy_silent
